<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SupervisorForm.Properties.Settings.LabDBstring" connectionString="Data Source=.;Initial Catalog=LabDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SupervisorForm.Properties.Settings.LabDBstring_19216833105"
            connectionString="Data Source=192.168.33.105;Initial Catalog=LabDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>